<h2>New category</h2>

<%= form_with  model: @group, url: groups_path, class: 'group-form-container' do |f| %>

  <div class="icon-container">
    <%= f.label :icon, class: 'icon-label' %>
    <%= f.file_field :icon, class: 'icon-text-area' %>
  </div>

  <div class="name-field-container">
    <%= f.label :name, class: 'name-label' %>
    <%= f.text_field :name, placeholder: 'Name', class: 'name-text-field' %>
  </div>

  <div class="btn-c">
    <%= f.submit 'Save', class:'btn' %>
  </div>
<% end %>
